* {
  margin: 0;
}
#header {
  background-image: url("assets/bg.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
}
#nflogo {
  width: 19.5vh;
  color: red;
  margin: 3vh 0 0 18vh;
}
.box {
  background-color: rgba(0, 0, 0, 0.639);
  width: 100%;
  height: 90vh;
}
#leftnb {
  float: right;
  margin: 3vh 18.8vh 0 0;
}

#language,
#signin {
  border-radius: 0.6vh;
  display: inline-block;
  border: 0.1rem solid #ffffff47;
}
#sin {
  text-decoration: none;
  color: white;
}
#sellang {
  color: #ffffff;
  background: none; /* url('assets/dicon.svg') no-repeat right; */
  border: none;
  appearance: none;
  padding: 0.35rem 0rem 0.35rem 0rem;
  font-size: 1rem;
  font-weight: 400;
}
#dicon {
  padding-right: 0.8rem;
  text-align: center;
  color: white;
}
#langicon {
  padding: 0rem 0.15rem 0rem 0.65rem;
}
#signin {
  background-color: #e50914;
  border: none;
  color: white;
  padding: 0.45rem 1rem 0.45rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 0.5rem;
}
#a {
  text-align: center;
  color: white;
  margin-top: 18vh;
  font-family: Helvetica, sans-serif;
}
h1 {
  font-size: 3.85rem;
}
#sh1 {
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: bold;
}
#sh2 {
  font-size: 1rem;
  margin-top: 2.15rem;
}
#email {
  width: 23%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 0.1rem solid #ffffff47;
  border-radius: 0.2rem;
  margin-top: 1rem;
  background: transparent;
  color: white;
}
#getstarted {
  background-color: #e50914;
  border: none;
  color: white;
  padding: 0.8rem 1.5rem 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.35rem;
  border-radius: 0.2rem;
}
#sicon {
  padding-left: 0.6rem;
  text-align: center;
  font-size: 1.8rem;
}
#sep1 {
  width: 100%;
  height: 0.1vw;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
  /* position: absolute; */
  border: solid 0.25rem transparent;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom: none;
  /* top: 53vw; */
}
body {
  background-color: black;
}
#sep2 {
  width: 100%;
  height: 15vh;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
  position: absolute;
  margin-top: -0.5vw;
  z-index: -1;
}
h2 {
  color: white;
  font-size: 1.7rem;
  margin: 8vh 0 0 18vh;
  font-family: Helvetica, sans-serif;
}
#sf1 {
  font-size: 1rem;
  margin-top: 2.15rem;
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
#sf2 {
  text-align: center;
}
#sf2 > #email {
  width: 35%;
}
#sf3 {
  margin: 7vh 0 0 18vh;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  margin: 5vh 0 0 18vh;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
#sf3 > a {
  color: rgba(255, 255, 255, 0.7);
}
ul {
  font-size: 1rem;
  margin: 5vh 0 0 13.4vh;
  font-family: Helvetica, sans-serif;
  list-style-type: none;
  column-count: 4;
}
li {
  margin-bottom: 2.25vh;
}
.sf4 {
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.sf5 {
  margin: 7vh 0 0 18vh;
}
#sf6 {
  margin: 7vh 0 0 18vh;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}
#cards, .card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.card:hover {
  transform: scale(1.04);
  transition: all 0.3s ease-in-out;
}
#email:focus {
  background: transparent;
  outline: #ffffff solid 0.15rem;
}
#sellang:focus {
  outline: 0;
}
#language:active {
  outline: #ffffff solid 0.15rem;;
}
#cards , #moves { 
  margin: 2vh 0 0 18vh;
}
.card > img , .move {
  border-radius: 0.5rem;
}
.num {
  position: absolute;
  color: black;
  font-size: 5rem;
  font-weight: bolder;
  font-family: Helvetica, sans-serif;
  background: transparent;
  -webkit-text-stroke: 0.2rem white;
  -moz-text-stroke: 0.2rem white;
  margin-top: 12rem;
  margin-left: 0.5rem;
}
#h2 {
  color: white;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
#h3 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif;
  margin-top: 1rem;
}
.move {
    background: linear-gradient( to right,
      rgba(64, 97, 231, 0.412),
      rgba(68, 3, 47, 0.504)
    );
  padding: 1.5rem;
  border-radius: 0.5rem;
}
#moves {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 18vh;
}
#footer {
  margin-top: 8vh;
}
#link {
  color: rgb(101, 155, 217);
}
#signin:hover, #getstarted:hover {
  opacity: 95%;
}
#signin:active, #getstarted:active {
  background-color: #bc0c14;
}
.move, #moves {
  width: 78.25rem;
  height: auto;
}